<div class="overlay-container brand-overlay" id="dialog-welcome" toggle initial="!localStorage.wizardDone">
    <div class="overlay-content brand-secondary">
        <div class="dialog-title" translate>IDS_WELCOME_TITLE</div>
        <div class="dialog-content">
            <div translate>IDS_WELCOME_TEXT</div>
        </div>
        <div class="alert-actions">
            <button autofocus type="button" class="button square" ng-click="toggle('dialog-settings'); hide(); localStorage.wizardDone = true">
                <span translate>IDS_BUTTON_OK</span>
            </button>
        </div>
    </div>
</div>
