<!DOCTYPE html>
<html class="no-js" id="ng-app" lang="en" ng-app="pexapp" ng-controller="MainController">

<head>
    <base href="../">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="configuration/favicon.png" rel="icon" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="fonts/mdi/style.css">
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/stage.css" rel="stylesheet" />
    <link href="css/app-bar.css" rel="stylesheet" />
    <link href="css/side-bar.css" rel="stylesheet" />
    <link href="css/toast.css" rel="stylesheet" />
    <link href="css/mediastats.css" rel="stylesheet" />
    <link href="css/dialpad.css" rel="stylesheet" />
    <link href="css/chat.css" rel="stylesheet" />
    <link href="css/login.css" rel="stylesheet" />
    <link href="css/escalate-media.css" rel="stylesheet" />
    <link href="css/file-share.css" rel="stylesheet" />
    <link ng-href="themes/default/brand.css" rel="stylesheet" />
    <link ng-href="{{localStorage.theme}}/brand.css" rel="stylesheet" />

    <script src="js/vendor/jquery-1.11.2.min.js"></script>
    <script src="js/vendor/jquery.titlealert.js"></script>
    <script src="js/vendor/fullscreen.js"></script>

    <script src="js/vendor/keen.min.js"></script>
    <script src="js/vendor/angular.js"></script>
    <script src="js/vendor/bindonce.js"></script>

    <script src="js/vendor/angular-translate.js"></script>
    <script src="js/vendor/angular-translate-loader-static-files.js"></script>
    <script src="js/vendor/ngStorage.min.js"></script>

    <script src="js/vendor/angular-sanitize.min.js"></script>
    <script src="js/vendor/angular-enhance-text.min.js"></script>

    <script src="js/regpwd.js"></script>

    <script src="js/vendor/pdf.js"></script>

    <script src="js/vendor/pexrtc.js"></script>

    <script src="js/pexapp.js"></script>
    <script src="configuration/settings.js"></script>
    <script src="js/settings.js"></script>

    <script src="js/call-history-service.js"></script>
    <script src="js/toggle-directive.js"></script>
    <script src="js/focus-directive.js"></script>
    <script src="js/media-sources.js"></script>
    <script src="js/call-service.js"></script>
    <script src="js/slide-share-service.js"></script>

    <script src="js/avatar-directive.js"></script>
    <script src="js/virtual-stage-directive.js"></script>

    <script src="js/main-controller.js"></script>
    <script src="js/conference.js"></script>

    <script src="js/swfObject.js"></script>
    <script src="js/aspect-watcher-directive.js"></script>
    <script src="js/idle-timer.js"></script>

    <script src="js/toast-service.js"></script>

    <script src="desktop-client/contextmenu.js"></script>

    <script>
        angular.module('pexapp')

        .factory('globalService', function() {
            return global;
        });
    </script>

    <script>
        (function() {
            var gui = require('nw.gui');
            gui.Screen.Init();

            window.addEventListener('message', function(event) {
                function gotStreamId(streamId) {
                    console.log('Got streamId', streamId);
                    event.data.type = 'pexGetScreenDone';
                    event.data.sourceId = streamId;
                    window.postMessage(event.data, event.origin);
                }

                if (event.data.type === 'pexGetScreen') {
                    event.data.type = 'pexGetScreenPending';
                    window.postMessage(event.data, event.origin);

                    if (gui.Screen.chooseDesktopMedia(['window', 'screen'], gotStreamId) === false) {
                        gotStreamId(null);
                    }
                }
            }, false);
        })();
    </script>
</head>

<body ng-cloak class="brand-primary">
    <div ng-if="!connection.data">
        <div class="overlay-container">
            <div class="overlay-content" style="width:400px">
                <div class="brand-secondary">
                    <div ng-include="'templates/login.html'"></div>
                </div>
            </div>
        </div>
        <div ng-include="'templates/dialog-call-history.html'"></div>
        <div ng-include="'templates/licenses.html'"></div>
    </div>

    <div ng-if="connection.data" ng-include="'templates/conference.html'" ng-controller="ConferenceController" idle-timer disable-idle="remoteVideoStream"></div>

    <div class="toast-messages">
        <div class="toast-message" ng-repeat="message in toastMessages" ng-click="toastMessages.splice($index, 1)">
            <span translate>{{message}}</span>
        </div>
    </div>

    <div class="overlay-container brand-overlay sel-modal-popup" ng-if="getModalMessage()" ng-click="getModalMessage().dismiss()">
        <div class="overlay-content brand-secondary">
            <div class="dialog-title" ng-if="getModalMessage().title" translate>{{getModalMessage().title}}</div>
            <div class="dialog-content">
                <div class="sel-modal-popup-message" translate>{{getModalMessage().message}}</div>
            </div>
            <div class="alert-actions">
                <button type="button" class="button square" ng-repeat="action in getModalMessage().actions" ng-click="action.callback()">
                    <span translate>{{action.caption}}</span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>
